# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

odict.ru/bin
odict.ru/obj
_ReSharper.ODict
odict.ru/Web.Debug.config
odict.ru/Web.Release.config
XMLFile1.xml
odict.ru/odict.ru.Publish.xml
odict.ru/download/odict.zip
packages
*.suo
odict.ru/odict.ru.csproj.user
odict.ru/Properties/PublishProfiles
upgradelog*.htm
DawgBuilder/bin
DawgBuilder/obj
odict.ru/App_Data