<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="7.1213" />
  <package id="AjaxMin" version="4.97.4951.28483" />
  <package id="DawgSharp" version="1.0.5" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.0" />
  <package id="HtmlAgilityPack" version="1.4.6" />
  <package id="Microsoft.Data.Edm" version="5.2.0" />
  <package id="Microsoft.Data.OData" version="5.2.0" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" />
  <package id="System.Spatial" version="5.2.0" />
  <package id="WindowsAzure.Storage" version="2.1.0.4" />
</packages>