/* DEFAULTS
----------------------------------------------------------*/
body   
{
    background: white;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    /*color: #776969;*/
    font-size :25px;
    height:100%;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

input, select
{
    /*padding: 10px;*/
    /*border:2px solid silver;*/
    box-sizing:border-box;
    font-size:20px;
}
input:focus
{
    border-color:blue;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    margin:0px 10px 0px 10px;
}

.footer
{
    color: #4e5766;
    text-align: center;
    line-height: normal;
    margin:20px auto 10px auto;
}



/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

/* LAYOUT
----------------------------------------------------------*/
.clearblock
{
    clear:both;
}
.ruleslist 
{
    margin-top:10px;
}
.lemma-textbox
{
    margin: 0px;
}
.block
{
    margin-top:10px;
}
.lmargin10px
{
}
.divTopMessage
{
    text-align:center;
    margin: 0px auto 0px auto;
}
.submitAdd
{
    margin: 10px auto 10px auto;
}
.linediv
{
    min-height:30px;
    margin-top: 10px;
}
.forms
{
    margin-top:20px;
}
.messageSuccess
{
    color:#029a0a;
}
.messageError
{
    color:#ff3322;
}
.div250
{

}
.div400
{

}
.div100
{

}
.width100pr 
{
    width:100%;
}