/* DEFAULTS
----------------------------------------------------------*/
* 
{
    margin:0px;
}
html
{
    height:100%;
}
body   
{
    background: white;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    /*color: #776969;*/
    font-size :25px;
    /*height:100%;*/
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

input[type=text], select
{
    padding: 5px;
    border-radius: 5px;
    border:2px solid #aaa;
    box-sizing:border-box;
    font-size:20px;
}
input[type=text], select
{
    background-color:#f5f5f5;
}
/* Smooth outline with box-shadow: */
input[type=text]:focus 
{
    box-shadow: 0px 0px 3pt 2pt silver;
    background-color:#fff;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.page
{
    margin:0px 10px 0px 10px;
}

.footer
{
    color: #4e5766;
    text-align: center;
    line-height: normal;
    margin:20px auto;
}



/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

/* LAYOUT
----------------------------------------------------------*/
.clearblock
{
    clear:both;
}
.ruleslist 
{
    margin-top:10px;
}
.lemma-textbox
{
    margin: 0px;
}
.block
{
    text-align:center;
    margin-top:10px;
}
.lmargin10px
{
}
.submitAdd 
{
    margin:0px auto;
    border:none;
    display: -moz-inline-stack;
    display: inline-block;
    width: 141px !important;
    height: 40px;
    background: url('../add/Images/add-submit-button.png') no-repeat;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-family: Calibri;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-shadow: #3c8236 1px 1px 0;
}
.submitAdd:disabled 
{
    background: url('../add/Images/add-submit-button-dis.png') no-repeat;
    border-color:#4e5766;
}
.submitAdd > span {
   display: -moz-inline-block;
}
.linediv
{
    min-height:30px;
    margin-top: 10px;
}
.forms
{
    margin-top:20px;
}
.divMessage
{
    text-align:center;
    margin: 15px auto 0px auto;
    border-radius: 3px;
    border: 2px solid;
}
.messageSuccess
{
    background: #efffef;
    border-color: #afa;
    color: #3d3;
    box-shadow: 0px 0px 3pt 2pt #bfb;
}
.messageError
{
    background: #ffefef;
    border-color:#faa;
    color: #d33;
    box-shadow: 0px 0px 3pt 2pt #fbb;
}
.div250
{

}
.div400
{

}
.div100
{

}
.width100pr 
{
    width:100%;
}